*{
  color: rgba(0,0,0,0.6);
}

.contact-container {
  min-height: 45rem;
  position: relative;
  top: 6rem;
}

.contact-inner-container{
  padding: 1rem;
}

p{
  font-size: 3rem;
  text-transform: uppercase;
  color: rgba(0,0,0,0.7);
}

.form{
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.form label{
  font-size: 1.7rem;
}

input{
  border-radius: 5px;
  font-size: 1rem;
  width: 23rem;
  height: 2.4rem;
}

textarea{
  min-width: 20rem;
  min-height: 160px;
  font-size: 1rem;
}
